html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

/* Login */

.CentreDiv {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
    align-items: center;
    justify-content: center;

    margin: auto;
}

.LoginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 600px;
    padding: 20px;
}

.FormPair {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.RegisterSpan {
    color: dodgerblue;
}

.RegisterSpan :hover {
    cursor: pointer;
    text-decoration: underline;
}


/* App */

#bigDiv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.TopBar {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    height: 28px;
    
    background-color: darkgrey;
}

.MainDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.SideBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 64px;
    background-color: grey;
    height: 100%;
}

.SideBar button {
    width: 56px;
    height: 56px;
    border: 1 solid transparent;
    background-color: lightgrey;
    border-radius: 32px;
}

.SideBar button i {
    font-size: 36px;
    line-height: normal;
}

.ContentDiv {
    width: 100%;
    height: 100%;
    background-color: lightblue;
}

.ChatDiv {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.ChatList {
    width: 160px;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    flex-shrink: 0;

    background-color: peachpuff;
}

.ChatList div {
    text-align: center;
    width: 100%;
    height: 40px;
}

.ChatList div button {
    width: 100%;
    height: 100%;
}

.ChatWindow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    margin-left: 24px;

    /*Kan måske erstattes med noget scrollbar gutter?? Pt er der tom plads bag scrollbar, som ikke ser godt ud*/
    margin-right: 24px;

    margin-bottom: 24px;

    overflow: hidden;
    row-gap: 24px;
}

#chatLogContainer {
    display: flex;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.ChatLog {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;

    width: 100%;
    
    row-gap: 6px;
}

.ChatMessage {
    display: flex;
    position: relative;
    flex-direction: column;
    align-self: flex-start;
    width: 100%;
}

.ChatMessageName {
    font-weight: bold;
    font-size: medium;
}

.ChatMessageContent {
    font-size: medium;
}

.ChatMessage:hover {
    background-color: #ffffff38;
}

.ChatMessage:hover .ChatMessageDropdown {
    display: flex;
}

.ChatMessageDropdown {
    display: none;
    position: absolute;
    flex-direction: row;
    width: 96px;
    height: 28px;
    background-color: blueviolet;
    z-index: 1;

    left: calc(100% - 96px);
    bottom: calc(100% - 8px);
}

.MessageContextMenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #C0C0C0;
    border: 1px solid blue;
    padding: 2px;
    margin: 0;
    z-index: 5;
}

#inputDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    
    flex-shrink: 0;
    height: fit-content;
    width: 100%;

    column-gap: 12px;
}

#chatMessageInput {
    width: 100%;
    height: 30px;
}

#chatMessageButton {
    width: 80px;
    height: 100%;
}

.ChatMembersList {
    width: 160px;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    flex-shrink: 0;

    background-color: peachpuff;
}

.ChatMembersListing {
    position: relative;
    text-align: center;
    width: 100%;
    height: 36px;
}

.ChatMembersListing button {
    width: 100%;
    height: 100%;
}

.UserListDropdown {
    position: absolute;
    flex-direction: column;
    width: 96px;
    height: 64px;
    background-color: rgb(113, 99, 126);
    z-index: 1;

    top: 0px;
    left: -96px;
}

.UserListDropdown button {
    height: 24px;
    width: 100%;
}



.DiscoveryWindow {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.DiscoveryTop {
    text-align: center;
}

.DiscoveryTopContainer {
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
}

.DiscoveryCreateContainer {
    display: flex;
    flex-direction: column;
}

.DiscoveryForm {
    display: flex;
    flex-direction: row;
}

.DiscoveryFormText {
    display: flex;
    flex-direction: column;
}

.DiscoveryFormText div {
    display: flex;
    flex-direction: row;
}

.DiscoveryFormCheck {
    display: flex;
    flex-direction: column;
}

.DiscoveryFormCheck div {
    display: flex;
    flex-direction: row;
}

.DiscoveryGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 0.2fr));
    grid-auto-rows: 144px;
    margin: 20px;
    gap: 16px;
}

.DiscoveryShowcaseBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: antiquewhite;
}

.Hidden {
    display: none;
}

.Removed {
    font-style: italic;
}
